-- 课程资源表
CREATE TABLE course_resource (
  id bigint(20) NOT NULL AUTO_INCREMENT COMMENT '资源ID',
  course_id bigint(20) NOT NULL COMMENT '所属课程ID',
  
ame varchar(255) NOT NULL COMMENT '资源名称',
  ile_type varchar(50) NOT NULL COMMENT '文件类型，如pdf、doc、ppt等',
  ile_size bigint(20) NOT NULL COMMENT '文件大小(字节)',
  ile_url varchar(500) NOT NULL COMMENT '文件URL',
  description varchar(500) DEFAULT NULL COMMENT '资源描述',
  download_count int(11) DEFAULT '0' COMMENT '下载次数',
  upload_user_id bigint(20) NOT NULL COMMENT '上传用户ID',
  create_time datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  update_time datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (id),
  KEY idx_course_id (course_id) COMMENT '课程ID索引',
  KEY idx_upload_user_id (upload_user_id) COMMENT '上传用户ID索引'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='课程资源表';
